.DS_Store
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes

/app/etc/*
/app/code/Magento
/app/design/*/Magento
/app/i18n/magento
/app/*.*

/bin

/dev

/lib

/node_modules

/phpserver

/pub

/setup

/update

/var

/vendor

/*.*

!/.gitignore
!/composer.json
!/composer.lock
!/docker-compose.yml
!/phpspec.yml
!/behat.yml
!/README.md
!/Gruntfile.js
!/package.json

**/node_modules/
npm-debug.log